body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h1{
    text-align: center;
}


#search{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
}


#phone-list{
    display:flex;
    flex-direction: column;
}

.phone-item{
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #fafafa;
}

.img{
    width: 100px;
    height: 100px;
}
